*{
    background-color: black;
}

.logo{
    background: none;
    width: 300px;
    height: auto;

}

.sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40rem;
    background-image: url(./assets/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}


